:root{
    --dark-blue-elements: hsl(209, 23%, 22%);
    --very-dark-blue-background:hsl(207, 26%, 17%);
    --very-dark-blue-light-text: hsl(200, 15%, 8%);
    --dark-gray-light-input: hsl(0, 0%, 52%);
    --light-gray-light-background: hsl(0, 0%, 98%);
    --white-dark-text:hsl(0, 0%, 100%); 
}
